<div class="start-selection">
	<table class="table reader-bar">
		<tr>
			<td><h4><%= document.escape("title") %></h4></td>
			<td><button id="set-selection" class="btn" >Add Selection </button></td>
			<td><button id="destroy-document" class="btn" >Remove Document</button></td>
			<td><a href="#myModal" role="button" class="btn" data-toggle="modal">Document Users</a></td>
		</tr>
	</table>	
</div>
<div class="reader-container"></div>
<div class="tag-anchor"></div>
<div class="container">
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="5"> 
	    <table>
			<tr>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Select Group</h3>
		</tr>
		<form id="docGroup">
		<% users.each(function(user){ %>
			<tr height="20">
		  <label class="checkbox" style="height: 20px">
			<input type="checkbox"  name="document_group[document_id][<%= document.id %>][user_id][<%= user.id %>][]" <%= (docgrp.where({ document_id: document.id, user_id: user.id }).length > 0  || user.id == document.get('owner_id') ) ? "checked" : ""  %> "  <%= (user.id == document.get('owner_id')) ? "disabled" :"" %>  ><%= user.escape("email") %></input>
		  </label>
	       </tr>
		<% }) %>
		<!-- <input type="hidden" name="document_group[user_id][]" val=""> -->
		</form>
	</table>
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
	    <button id="submitBtn" data-dismiss="modal" class="btn btn-primary">Save Document Access</button>
		
	</div>
</div>