<!DOCTYPE html>
<html>
<head>
  <title>BackendDeviseTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	

	<div class="navbar navbar-fixed-top navbar-inverse">
	  <div class="navbar-inner">
	    <a class="brand" href="#">PDFtagger</a>
	    <ul class="nav">
	      <li class="active"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
	      <li><a href="#">Add Selection</a></li>
	    </ul>
	  </div>
	</div>


<%= yield %>


</body>
</html>
